.main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 6rem;
  min-height: 100vh;
}

.main h1 {
  margin-bottom: 1rem;
}

.main input, .main textarea, .main button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 10px 20px;
  font-size: 1.2em;
  min-width: 500px;
}

.main .legend {
  margin-bottom: 1rem;
  font-size: 1.3rem !important;
}

.main button {
  padding: 10px 20px;
  font-size: 1.2em;
}

.main table {
  margin-top: 1rem;
  border: 1px solid white;
  text-align: left;
}

.main td, .main th {
  border-right: 1px solid white;
  padding: 0.5rem;
}

.main td:last-child, .main th:last-child {
  border-right: none;
}
